/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.wrapper {
  flex: 1;
}

.orangebtn {
  border: none;
  background-color: #ff4500;
  color: white;
}

.search-container {
  width: 40%; /* Ajusta el ancho según sea necesario */
}

.search-bar {
  width: 100%; /* Asegura que la barra de búsqueda ocupe todo el ancho del contenedor */
}

.list-group {
  width: 100%; /* Asegura que la lista ocupe todo el ancho del contenedor */
}

.list-group-item {
  width: 100%; /* Asegura que los elementos de la lista ocupen todo el ancho del contenedor */
}

.CustomWidth {
  width: 40%;
}

.white-bg-color-opacity-faded {
  background-color: white(0, 0, 0);
  opacity: 0.8;
}

/* Estilos para el grid layout de las pizzas */
.pizza-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.pizza-card {
  width: 100%;
}
