/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.wrapper {
  flex: 1;
}

.orangebtn {
  border: none;
  background-color: #ff4500;
  color: white;
}

.search-container-width-40 {
  width: 40%; /* Ajusta el ancho según sea necesario */
}

.search-bar {
  width: 100%; /* Asegura que la barra de búsqueda ocupe todo el ancho del contenedor */
}

.list-group {
  width: 100%; /* Asegura que la lista ocupe todo el ancho del contenedor */
}

.list-group-item {
  width: 100%; /* Asegura que los elementos de la lista ocupen todo el ancho del contenedor */
}

.CustomWidth {
  width: 40%;
}

.white-bg-color-opacity-faded {
  background-color: rgba(255, 255, 255, 0.8);
}



/* Nueva clase personalizada */
.btn-custom {
  color: black;
  background-color: rgb(255, 196, 0);
  font-weight: 700;
  border-radius: 20px; /* Bordes más redondeados */
  transition: background-color 0.3s, color 0.3s;
  animation: pulse 1.5s infinite;
}

.btn-custom:hover {
  color: black;
  background-color: white;
}

.btn-custom:active {
  color: black;
  background-color: white;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.navbar-logo {
  height: 40px; /* Ajusta la altura según sea necesario */
  width: auto; /* Mantiene la proporción de la imagen */
  border-radius: 60%; /* Bordes redondeados */
}

.btn-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.btn-shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
}

.btn-wobble {
  animation: wobble 1s ease-in-out;
}

.order-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.order-window {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.order-title {
  margin-bottom: 1rem;
}

.drink-image {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
