/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
  background-image: url("https://i.postimg.cc/yYXGc311/top-side-view-of-a-pizza-with-a-wood-table-background-more-staff-laying-around-the-pizza-and-more.jpg"); /* Ajusta la ruta si es necesario */
  background-size: cover; /* Ajusta según sea necesario */
  background-position: center;
  min-height: 100vh; /* Asegura que el body cubra al menos la altura de la ventana */
  background-repeat: space;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed; /* Cambia a fixed para que cubra toda la página */
  top: 0;
  left: 0;
  right: 0;
  bottom: -100px; /* Asegura que la superposición cubra toda la altura de la página */
  background-color: rgba(0, 0, 0, 0.6); /* Color negro semitransparente */
  z-index: -1; /* Envía la superposición detrás del contenido */
}
